/* === Box Sizing === */

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* === Universal Styles === */

html {
  min-height: 100%;
  min-width: 100%;

  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

section {
  height: 37rem;
}

.about,
.contact,
footer {
  background: #ECEDFA;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 6rem;
  height: 4rem;
  margin-bottom: 2.5rem;
}

.arrow {
  position: relative;
  bottom: 1.2rem;
  padding: .8rem;
  border-left: 2px solid #7CEDA2;
  border-bottom: 2px solid #7CEDA2;

  transform: rotate(-45deg);
  transition: .3s;
}

.arrow-up {
  padding: .8rem;
  border-left: 2px solid #7CEDA2;
  border-bottom: 2px solid #7CEDA2;

  transform: rotate(135deg);
  transition: .3s;
}

.arrow:hover,
.arrow-up:hover {
  border-left: 3px solid #41E6FF;
  border-bottom: 3px solid #41E6FF;
}

.arrow:active,
.arrow-up:active {
  border-left: 3px solid #41E6FF;
  border-bottom: 3px solid #41E6FF;
}

h2,
h3,
h4 {
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  border-bottom: 1px solid white;
}

/* === Banner === */

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  background: #6768E0;
  background-image: url("../images/cartographer.png");
  color: #41E6FF;
}

.hero {
  position: relative;
  top: 13rem;
  width: 100%;
  text-align: center;
}

.hero h1 {
  border-bottom: 3px solid #41E6FF;
  margin: 0 auto;
  width: 83%;
  animation-name: toright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-size: 3.5rem;
  font-family: 'Shadows Into Light', cursive;
}

.banner p {
  color: #41E6FF;
  font-size: 1.5rem;
  font-style: italic;
  animation: toleft 1s forwards;
}

.banner a {
  margin-bottom: 2rem;
}

.arrow.top {
  margin-bottom: 2rem;
  border-left: 2px solid #7CEDA2;
  border-bottom: 2px solid #7CEDA2;
}

.banner a {
  animation: bounce .3s 1s 4 backwards alternate;
  /* name duration delay iteration fill direction */
}

/* === About === */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.about h2 {
  position: relative;
  top: 2rem;

  font-size: 3rem;
  text-decoration: none;
}

img {
  display: none;
}

p {
  color: #0D0D0D;

  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: .08rem;
  font-weight: 300;

}

.about a {
  color: #4C4DA6;
  transition: color .4s;
}

.about a:visited {
  color: #FD465A;
}

.about a:hover {
  color: #FD465A;
}

.about a:active {
  color: #C84DA6;
}

.mid div {
  border-left-color: #59946F;
  border-bottom-color: #59946F;
}

/* === Skills & Tools === */

.skills-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  background: linear-gradient(#4C4DA6, #FD465A);
  color: white;
}

.columns {
  display: flex;
  flex-direction: column;
}

.col {
  margin-bottom: 1rem;
  width: 100%;
}

.col h4 {
  margin: 1rem auto;
  width: 90%;

  font-size: 2.5rem;
}

.col ul li {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
}


/* === Contact === */

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.contact h3 {
  color: #4C4DA6;

  font-size: 2.5rem;
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icons a {
  width: 3rem;
}

a .fa {
  margin: 2rem 0;

  color: #4C4DA6;
  transition: all .4s;
}

a .fa:hover {
  color: #FD465A;
  transform: scale(1.5);
}

a .fa:active {
  color: #FD465A;
  transform: scale(1.5);
}

.contact > a {
  position: relative;
  bottom: 2rem;
  text-decoration: none;
}

.contact p {
  color: #4C4DA6;
  text-decoration: underline;
  transition: color .4s;
}

.contact p:hover {
  color: #FD465A;
}


/* === Key Frames === */

@keyframes toright {
  from {transform: translateX(-1000px)}
  to {transform: translateX(0px)}
}

@keyframes toleft {
  from {transform: translateX(1000px)}
  to {transform: translateX(0px)}
}

@keyframes bounce {
  from {transform: translateY(0px)}
  to {transform: translateY(-40px)}
}


/* === Media Queries === */

  /* Tablet */
@media only screen and (min-width: 530px) {
  section {
    height: 55rem;
  }
  .arrows {
    width: 8rem;
  }
  .arrow {
    border-left: 3px solid #41E697;
    border-bottom: 3px solid #41E697;
    padding: 1rem;
    bottom: 1.5rem;
  }
  .arrow-up {
    border-left: 3px solid #41E697;
    border-bottom: 3px solid #41E697;
    padding: 1rem;
  }
  .arrow:hover,
  .arrow-up:hover {
    border-left: 4px solid #41E6FF;
    border-bottom: 4px solid #41E6FF;
  }

  .arrow:active,
  .arrow-up:active {
    border-left: 4px solid #41E6FF;
    border-bottom: 4px solid #41E6FF;
  }
  .hero h1 {
    width: 90%;
    font-size: 6rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .about h2 {
    text-align: center;
    margin: 1rem auto 1rem auto;

    font-size: 4.5rem;
  }
  img {
    float: left;

    border-radius: 50%;
    display: inline-block;
    margin-right: 7rem;
    shape-outside: circle();
  }
  p {
    font-size: 2rem;
  }
  .col {
    margin-bottom: 2rem;
  }
  .col h4 {
    font-size: 4rem;
  }
  .col ul li {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 300;
  }
  .contact h3 {
    bottom: 4rem;
    font-size: 4.5rem;
  }
  .icons a {
    width: 7rem;
  }
  a .fa {
    margin: 4rem 0;
    transform: scale(2);
  }
  a .fa:hover {
    transform: scale(3);
  }
  a .fa:active {
    transform: scale(3);
  }
}
  /* Desktop */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  section {
    height: 41rem;
  }
  .hero h1 {
    width: 65%;
    font-size: 6rem;
  }
  .banner p {
    font-size: 3rem;
  }
  .about h2 {
    margin: 2rem auto 5rem auto;
  }
  p {
    font-size: 2rem;
  }
  .skills-tools div:last-child {
    margin-bottom: 0.2rem;
  }
  .columns {
    position: relative;
    top: 3rem;
    flex-direction: row;
    width: 100%;
  }
  .col h4 {
    width: 50%;
    font-size: 5rem;
  }
  .col ul li {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 300;
  }
  .contact {
    padding: 2rem;
  }
  .contact h3 {
    font-size: 4rem;
  }
  .icons {
    flex-direction: row;
    justify-content: space-around;

    border: 2px solid #4C4DA6;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 70%;
  }
  .icons a {
    width: 7rem;
  }
  a .fa {
    margin: 4rem 0;
    transform: scale(1.5);
  }
  a .fa:hover {
    transform: scale(2);
  }
  a .fa:active {
    transform: scale(2);
  }
}
