/* === Reset === */
*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
}


/* === Key Frames === */

@keyframes toright {
  from { transform: translateX(-2000px); }
  to { transform: translateX(0px); }
}

@keyframes toleft {
  from { transform: translateX(2000px); }
  to { transform: translateX(0px); }
}

@keyframes bounce {
  0, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}


/* === Universal Styles === */

/* #54D69B */

:root {
  --color-primary: #354D9E;
  --color-secondary: #ECEDFA;
  --color-tertiary: #BF4154;
  --color-main-heading: #41E6FF;
  --color-text: #0D0D0D;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  min-height: 100%;
  min-width: 100%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

section { padding: 4rem 0; }

.section-para {
  margin: 3rem .5rem;
  line-height: 1.7;
  font-weight: normal;
}

.link {
  color: var(--color-primary);
  transition: color .4s;
}

.link:visited { color: var(--color-tertiary); }

.link:hover { color: var(--color-tertiary); }

.link:active,
.link:focus {
  color: #C84DA6;
}

.about,
.contact,
footer {
  background: var(--color-secondary);
}

h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h4 {
  display: inline-block;

  border-bottom: 1px solid white;
}


/* === Navigation === */

nav {
  position: fixed;
  z-index: 1;
}

#menuToggle {
  position: flex;

  margin-left: 86vw;
  margin-top: 1rem;

  user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}

#menuToggle input {
  position: absolute;
  top: .5rem;
  right: .5rem;

  display: block;
  height: 2rem;
  width: 2rem;

  cursor: pointer;
  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

.burger {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  display: flex;
  margin-top: -.4rem;

  background: var(--color-secondary);
  border-radius: 50%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, .5);
  height: 50px;
  width: 50px;
}

#menuToggle .burger span {
  display: block;
  margin-bottom: 5px;

  background: var(--color-primary);
  height: .2rem;
  width: 1.5rem;
  transition: all .5s ease-in-out;
  z-index: 1;
}

#menuToggle input:checked ~ .burger span
{
  background: gray;
  transform: translateY(-8px) rotate(-135deg);
}

#menuToggle input:checked ~ .burger span:nth-last-child(2)
{
  transform: scale(0);
}

#menuToggle input:checked ~ .burger span:nth-last-child(3)
{
  transform: translateY(8px) rotate(135deg);
}

#menu {
  position: absolute;

  display: flex;
  justify-content: left;
  margin: 1rem 1rem 1rem 2rem;
  padding: 1.5rem 0 1.5rem 1.5rem;

  background: var(--color-secondary);
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(50%, -120%);
  transition: all .5s ease;
  width: 105vw;

  -webkit-font-smoothing: antialiased;
}

/* NEW ANIMATION ?
#menu::after {
  position: absolute;
  top: 2.8rem;
  left: 6.8rem;

  content: '';
  display: block;
  width: 3.5rem;
  height: 2px;
  background: blue;
}
 */


#menu li {
  display: inline-block;
  margin: 0 .4rem;

  font-size: 1rem;
  font-weight: 400;
}

#menuToggle input:checked ~ ul {
  transform: translate(-90%, -120%);
}

#menu a {
  color: var(--color-primary);
  text-decoration: none;
}

#menu a:hover,
#menu a:active,
#menu a:focus {
  color: var(--color-tertiary);
}


/* === Banner === */
header {
  position: relative;
  top: 0;
}

.banner {
  padding: 0;
  height: 100vh;
  background: var(--color-primary);
  /* background-image: url("../images/cartographer.png"); */
  color: var(--color-main-heading);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.hero {
  position: fixed;
  top: 10rem;
  width: 100%;

  text-align: center;
}

.hero h1 {
  margin: 2rem auto;

  animation-name: toright;
  animation-duration: 1.1s;
  animation-timing-function: cubic-bezier(.62,.45,.75,1.38);
  animation-fill-mode: forwards;
  border-bottom: 3px solid var(--color-main-heading);
  width: 83%;

  font-family: 'Shadows Into Light', cursive;
  font-size: 3.5rem;
}

.banner p {
  animation: toleft 1s .2s cubic-bezier(.62,.45,.75,1.38) backwards;
  color: var(--color-main-heading);

  font-size: 1.5rem;
  font-style: italic;
}

.banner .notice {
  font-size: .8rem;
  color: #5AFFCC;
}

.hero-button:link {
  display: inline-block;
  margin-top: 10rem;
  color: var(--color-primary);

  animation: bounce .6s 2.5s 2;
  -webkit-animation: bounce .6s 2.5s 2;
  text-decoration: none;
  transition: transform 100ms ease-out;
}

.hero-button:visited {
  color: var(--color-primary);
  text-decoration: none;
}

.hero-button:hover {
  transform: translateY(-7px) scale(1.02);
}

.hero-button:hover > button {
  box-shadow: 0 6px 3px rgba(0, 0, 0, .4);
}

.hero-button button {
  background: var(--color-secondary);
  border: none;
  border-radius: 50%;
  box-shadow: 0 6px 3px rgba(0, 0, 0, .5);
  color: inherit;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  outline: none;

  font-size: 1rem;
  letter-spacing: 1px;
}


/* === About === */

.about {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: flex;
  padding: 4rem 1rem;
}

.about h2 {
  margin-bottom: 4rem;

  font-size: 3rem;
  text-decoration: none;
}

.avatar {
  display: none;
}

.about__para {
  position: relative;
  bottom: 1.5rem;

  color: var(--color-text);

  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: .08rem;
}


/* === Projects === */
.projects {
  text-align: center;
}

.projects h3 {
  margin: 3rem 0;
  font-size: 3.8rem;
  text-align: center;
}

.projects__container {
  display: flex;
  flex-direction: column;
}

.projects__card {
  margin: 1rem auto;
  width: 90%;
  border-radius: 6px;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, .4);
}

.projects__card-side {
  overflow: hidden;
}

.projects__card-side--front {
  text-align: center;
}

.projects__image-container {
  width: 100%;
}

.projects img {
  height: 100%;
  width: 100%;
}

.project-title {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.projects__card-side--back {
  padding: 1rem 1rem 1rem 1.5rem;
}

.projects__project-summary {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.projects__button {
  display: block;
  margin: 1rem auto;
  padding: 1rem 2.3rem;

  background-color: var(--color-primary);
  border: none;
  border-radius: 2.5rem;
  outline: none;
  color: #fff;
  cursor: pointer;

  font-size: 1.3rem;
  text-decoration: none;
}

.projects__button:hover {
  opacity: .9;
}

.projects__more-info {
  cursor: pointer;
  text-decoration: none;
}


/* === Skills & Tools === */

.skills-tools {
  flex-direction: column;
  align-items: center;
  text-align: center;

  display: flex;
  padding-top: 5rem;

  background: linear-gradient(var(--color-primary), var(--color-tertiary));
  color: white;
}

@supports(background-attachment: fixed) {
  .skills-tools {
    background-attachment: fixed;
  }
}

.skills-tools h3 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.columns {
  flex-direction: column;
  display: flex;
}

.skills-tools .columns .col {
  margin-bottom: 1rem;
  width: 100%;
}

.columns .col h4 {
  margin: 1rem auto;
  padding-bottom: .5rem;

  font-size: 1.5rem;
  font-weight: 400;
}

.columns .col ul li {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.9;
}


/* === Tools === */
.tools {
  padding: 3rem .5rem;
  color: var(--color-text);
  text-align: center;
}

.tools h3 {
  font-size: 3.5rem;
}

.tools ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.tool {
  margin: .5rem;
  padding: 1rem;
  width: 30%;
}

.tool h5 {
  margin: 1rem 0;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.wrapper img {
  height: 100%;
  width: 100%;
}

/* .tools li:not(:last-child) {
  margin-bottom: 1rem;
} */


/* === Contact === */

.contact {
  align-items: center;
  flex-direction: column;
  justify-content: center;

  display: flex;

  text-align: center;
}

.contact h3 {
  bottom: 1rem;
  position: relative;

  color: var(--color-primary);

  font-size: 2.5rem;
  text-decoration: none;
}

.icons {
  align-items: center;
  flex-direction: column;

  display: flex;
}

.icons a {
  width: 3rem;
}

.contact .fa {
  margin: 2rem 0;

  color: #4C4DA6;
  transition: all .4s;
}

.contact .fa:hover {
  color: var(--color-tertiary);
  transform: scale(1.5);
}

.contact .fa:active,
.contact .fa:focus {
  color: var(--color-tertiary);
  transform: scale(1.5);
}

.contact > a {
  position: relative;
  bottom: 2rem;

  text-decoration: none;
}

.contact p {
  color: #4C4DA6;
  transition: color .4s;

  text-decoration: underline;
}


/* === Footer === */
footer {
  text-align: center;
}


/* === Media Queries === */

  /* Tablet */
@media only screen and (min-width: 530px) {
  .section-para {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .burger {
    left: 3rem;
  }

  #menuToggle input {
    right: -3rem;
  }

  #menu {
    justify-content: center;
  }

  #menu li {
    margin: 0 2rem 0 0;
    font-size: 1.3rem;
  }

  #menuToggle input:checked ~ ul {
    transform: translate(-83%, -120%);
  }

  .hero h1 {
    width: 70%;
    font-size: 4rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .about {
    padding: 4rem 1rem;
  }

  .about h2 {
    margin: 1rem auto 4rem auto;

    font-size: 4.5rem;
    text-align: center;
  }

  .about__para {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4;
  }

  .banner .notice {
    font-size: 1rem;
    color: #5AFFCC;
  } 

  .avatar {
    float: left;
    
    display: block;
    margin-right: 4rem;
    margin-bottom: 2rem;
    shape-outside: circle();

    border-radius: 50%;
  }

  .skills-tools h3 {
    margin: 1rem 0 2rem 0;
    font-size: 5rem;
  }

  .columns {
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
  }

  .skills-tools .columns .col {
    margin-bottom: 3rem;
  }

  .columns .col h4 {
    font-size: 2rem;
    font-weight: 300;
  }

  .columns .col ul li {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2;
  }

  .tools {
    padding: 4rem 1rem;
  }

  .tool {
    width: calc(100% / 3 - 5rem);
  }

  .contact h3 {
    bottom: 0;
    margin: 4rem;
    font-size: 4.5rem;
  }

  .icons a {
    width: 7rem;
  }

  .contact .fa {
    margin: 2.5rem 0;
    transform: scale(1.4);
  }

  .contact .fa:hover {
    transform: scale(2);
  }

  .contact .fa:active {
    transform: scale(2);
  }
}


  /* Desktop */
@media only screen and (min-width: 900px) and (orientation: landscape) {
  .section-para {
    font-size: 1.4rem;
  }

  .burger {
    margin-top: -.3rem;
  }

  #menuToggle {
    margin-left: 91vw;
  }

  #menu {
    justify-content: center;
    transform: translate(50%, -110%);
  }

  #menu li {
    font-size: 1.5rem;
    margin-right: 6rem;
  }

  #menuToggle input:checked ~ ul {
    transform: translate(-88%, -110%);
  }

  .hero h1 {
    width: 65%;
    font-size: 6rem;
  }

  .banner p {
    font-size: 3rem;
  }

  .hero-button button {
    top: 70%;
  }

  .about {
    padding: 4rem 1.5rem;
  }

  .about h2 {
    margin: 2rem auto 4rem auto;
    bottom: 1rem;
  }

  .about__para {
    font-size: 2rem;
  }

  .projects__container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .projects__card {
    position: relative;
    margin: 2rem;
    padding: 4rem 1rem;

    border-radius: 0;
    box-shadow: none;
    -webkit-perspective: 35rem;
    perspective: 35rem;
    -moz-perspective: 35rem;
    height: 12rem;
    width: 25%;
  }

  .projects__card-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    box-shadow: 0 6px 1rem rgba(0, 0, 0, .4);
    transition: all .8s ease;
    box-sizing: border-box;
  }

  .projects__card-side--back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    background: linear-gradient(var(--color-primary), var(--color-tertiary));
    transform: rotateY(180deg);
  }

  .projects__project-summary {
    color: #fff;
    margin-bottom: 1rem;
  }

  .projects__button {
    background: var(--color-secondary);
    color: var(--color-primary);
  }

  .projects__card:hover .projects__card-side--back {
    transform: rotateY(0);
  }

  .projects__card:hover .projects__card-side--front {
    transform: rotateY(-180deg);
  }

  .skills-tools {
    padding-top: 5rem;
  }

  .skills-tools div:last-child {
    margin-bottom: 0.2rem;
  }

  .skills-tools h3 {
    font-size: 4.5rem;
  }

  .columns {
    flex-direction: row;
    position: relative;
    top: 1rem;

    width: 100%;
  }

  .columns .col h4 {
    font-size: 2.5rem;
  }

  .columns .col ul li {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.5;
  }

  .tools ul {
    margin: 4rem 0;
  }

  .tool {
    width: calc(100% / 6 - 5rem);
  }

  .contact {
    padding: 2rem;
  }

  .contact h3 {
    font-size: 4rem;
  }

  .icons {
    flex-direction: row;
    justify-content: space-around;

    border: 2px solid #4C4DA6;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 70%;
  }

  .icons a {
    width: 7rem;
  }

  .contact .fa {
    margin: 4rem 0;
    transform: scale(1.5);
  }

  .contact .fa:hover {
    transform: scale(2);
  }

  .contact .fa:active {
    transform: scale(2);
  }
}
