/* === Box Sizing === */

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* === Universal Styles === */

html {
  min-height: 100%;
  min-width: 100%;

  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

section {
  height: 37rem;
}

.about,
.contact,
footer {
  background: #FCFCFC;
}

.arrow {
  width: 1rem;
  height: 1rem;
  border-left: 2px solid #41E697;
  border-bottom: 2px solid #41E697;

  transform: rotate(-45deg);
  transition: .3s;
}

.arrow span {
  opacity: 0;
}

.arrow:hover {
  width: 1.5rem;
  height: 1.5rem;
  border-left: 3px solid #41E6FF;
  border-bottom: 3px solid #41E6FF;
}

.arrow:active {
  width: 1.5rem;
  height: 1.5rem;
  border-left: 3px solid #41E6FF;
  border-bottom: 3px solid #41E6FF;
}

h2,
h3,
h4 {
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  border-bottom: 1px solid white;
}

/* === Banner === */

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background: #6768E0;
  background-image: url("../images/cartographer.png");
  color: #41E6FF;
}

.hero {
  width: 100%;
  text-align: center;
}

.hero h1 {
  border-bottom: 3px solid #41E6FF;
  margin: 0 auto;
  width: 83%;

  font-size: 3.5rem;
  font-family: 'Shadows Into Light', cursive;
}

.banner p {
  color: #41E6FF;
  font-size: 1.5rem;
  font-style: italic;
}

.arrow.top {
  position: relative;
  top: 10rem;
}

/* === About === */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about h2 {
  position: relative;
  top: 2rem;

  font-size: 3rem;
  text-decoration: none;
}

img {
  display: none;
}

p {
  padding: 1rem;

  color: #0D0D0D;

  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: .08rem;
  font-weight: 300;

}

.about a {
  color: #4C4DA6;
  transition: color .4s;
}

.about a:visited {
  color: #FD465A;
}

.about a:hover {
  color: #FD465A;
}

.about a:active {
  color: #C84DA6;
}

.arrow.mid {
  border-left-color: #30A66E;
  border-bottom-color: #30A66E;
  margin-bottom: 2rem;
}

/* === Skills & Tools === */

.skills-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  background: linear-gradient(#4C4DA6, #FD465A);
  color: white;
}

.col {
  margin: 0;
  width: 100%;
}

.col h4 {
  margin: 1rem auto;
  width: 25%;

  font-size: 2.5rem;
}

.col ul li {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
}

.arrow.bottom {
  margin-bottom: 3rem;
}

/* === Contact === */

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact h3 {
  position: relative;
  bottom: 3rem;

  color: #4C4DA6;

  font-size: 2.5rem;
  text-decoration: none;
}

.icons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icons a {
  width: 3rem;
}

a .fa {
  margin: 2rem 0;

  color: #4C4DA6;
  transition: all .4s;
}

a .fa:hover {
  color: #FD465A;
  transform: scale(1.5);
}

a .fa:active {
  color: #FD465A;
  transform: scale(1.5);
}


/* === Media Queries === */

  /* Tablet */
@media only screen and (min-width: 530px) {
  section {
    height: 56rem;
  }
  .arrow {
    border-left: 3px solid #41E697;
    border-bottom: 3px solid #41E697;
    width: 2rem;
    height: 2rem;
  }
  .arrow:hover {
    border-left: 4px solid #41E6FF;
    border-bottom: 4px solid #41E6FF;
    width: 2.5rem;
    height: 2.5rem;
  }

  .arrow:active {
    border-left: 4px solid #41E6FF;
    border-bottom: 4px solid #41E6FF;
    width: 2.5rem;
    height: 2.5rem;
  }
  .hero h1 {
    width: 90%;
    font-size: 6rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .arrow.top {
    top: 15rem;
  }
  .about {
    display: block;
    padding: 1rem;
  }
  .about h2 {
    text-align: center;
    margin: 1rem auto 8rem auto;

    font-size: 4.5rem;
  }
  img {
    float: left;

    border-radius: 50%;
    display: inline-block;
    margin-right: 7rem;
    shape-outside: circle();
  }
  p {
    padding: 1rem;
    font-size: 2rem;
  }
  .arrow.mid {
    margin: 3rem auto 0 auto;
  }
  .col h4 {
    font-size: 4rem;
  }
  .col ul li {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 300;
  }
  .arrow.bottom {
    margin-bottom: 4rem;
  }
  .contact h3 {
    bottom: 4rem;
    font-size: 4.5rem;
  }
  .icons a {
    width: 7rem;
  }
  a .fa {
    margin: 4rem 0;
    transform: scale(2);
  }
  a .fa:hover {
    transform: scale(3);
  }
  a .fa:active {
    transform: scale(3);
  }
}
  /* Desktop */
@media only screen and (min-width: 900px), (orientation: landscape) {
  section {
    height: 41rem;
  }
  .hero h1 {
    width: 65%;
    font-size: 6rem;
  }
  .banner p {
    font-size: 3rem;
  }
  .arrow.top {
    top: 8.5rem;
  }
  .about {
    padding-top: 1rem;
  }
  .about h2 {
    margin: 2rem auto 5rem auto;
  }
  p {
    font-size: 2rem;
  }
  .arrow.mid {
    margin-top: 5rem;
  }
  .skills-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .col h4 {
    width: 50%;
    font-size: 5rem;
  }
  .col ul li {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 300;
  }
  .tools {
    position: relative;
    bottom: 1rem;
  }
  .skills-tools a {
    align-self: flex-end;
    position: relative;
    bottom: 8%;
    right: 48%;
  }
  .contact {
    justify-content: flex-start;
    padding: 2rem;
  }
  .contact h3 {
    bottom: 0;
    top: 4rem;

    margin-bottom: 10rem;

    font-size: 4rem;
  }
  .icons {
    flex-direction: row;
    justify-content: space-around;

    border: 2px solid #4C4DA6;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 70%;
  }
  .icons a {
    width: 7rem;
  }
  a .fa {
    margin: 4rem 0;
    transform: scale(1.5);
  }
  a .fa:hover {
    transform: scale(1.5);
  }
  a .fa:active {
    transform: scale(1.5);
  }
}
